EXPO_PUBLIC_SUPABASE_URL=https://mzxmbkulgrehujpvwadt.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im16eG1ia3VsZ3JlaHVqcHZ3YWR0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ1Njk5NjQsImV4cCI6MjEwMDE0NTk2NH0.PQMuAN1Hr82re8sgIJCbwwU09u6594UC3oIdTGoJfaE
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=200548991300-2bcm8g2nsh0phrjf888le5hm1ucq0e7r.apps.googleusercontent.com
